* {
  margin: 0;
  padding: 0;
  font-size: 24px;
  border-radius: 25px;
}
:root {
  /* Colors */
  --tomato: hsl(4, 100%, 67%);
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--darkSlateGrey);
  font-family: "Roboto", sans-serif;
}
li {
  list-style-type: none;
}

.attribution {
  padding: 10px;
  color: var(--white);
  font-size: 16px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 100%, 76%);
}
.btn {
  background-color: var(--darkSlateGrey);
  color: var(--white);
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin-top: 25px;
  transition: 0.3s;
}
.btn:hover {
  background-color: var(--tomato);
  cursor: pointer;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.container {
  display: grid;
  place-items: center;
  grid-template-columns: 2fr 1fr;
  background-color: var(--white);
  border-radius: inherit;
  padding: 25px;
}
.content--heading {
  font-size: 72px;
  font-weight: 700;
  padding-bottom: 25px;
}
.content--subheading {
  padding-bottom: 25px;
}
.content--body {
  color: var(--darkSlateGrey);
  padding-bottom: 50px;
}
.email--address {
  font-weight: 700;
}
.form--label {
  font-weight: 700;
  width: 100%;
}
.hidden {
  display: none;
}
.icon-list {
  padding-right: 25px;
}
.input--field {
  padding: 15px;
  width: 95%;
  border-radius: 10px;
  margin-top: 25px;
  transition: 0.2s;
}
.invalid {
  background: rgba(255, 98, 87, 0.3);
  opacity: 0.3;
  border: 3px solid var(--tomato);
}
.invalid--email {
  color: var(--tomato);
  float: right;
}
.list-item {
  padding-bottom: 20px;
}
.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 6rem;
  border-radius: inherit;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 100%;
}
.modal-icon {
  width: 75px;
}
